* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
}
html{
    height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(206, 206, 206);
}

.marquee {
    left: 50%;
    /* text-align: center; */
    width: 40vw;
    margin: 15px auto;
}
marquee{
    font-weight: 600;
}

/* h1,
h3,
ul,
ol,
p {
    margin: 15px 45px;
} */

p{
    margin: 20px 0;
    text-align: justify;
}

ol,
ul {
    margin: 15px calc(15px + 1ch);
}

li {
    text-align: justify;
    margin: 10px auto;
}

p,
u {
    font-weight: 550;
}

h1 {
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-weight: 600;
}

mark {
    font-weight: 600;
    background-color: rgb(255 230 0);
}
footer{
    display: flex;
    align-content: center;
    width: -webkit-fill-available;
    padding: 15px 45px;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
}
footer p{
    margin: 15px 0;
}

footer a:link{
    color: rgb(43, 173, 43);
}
footer a:visited{
    color: rgb(35, 143, 35);
}
footer a:hover{
    color: rgb(35, 143, 35);
}
footer a:active{
    color: rgb(255, 0, 0);
}


.last-date-of-registration{
    width: 65vw;
}

.container{
    width: 65vw;
    margin: 20px 35px;
    border-radius: 15px;
    padding: 15px;
    outline: 1px solid rgba(83, 83, 83, 0.3);
    /* box-shadow: 0px 0px 50px rgb(0, 0, 0, .6); */
}
.container:hover {
    transition: .5s;
    outline: none;
    box-shadow: 0px 0px 50px rgb(0, 0, 0, .6);
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65vw;
    margin: 20px 35px;
    border-radius: 15px;
    padding: 15px;
}